@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

@import 'owl.carousel';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 150px;

  background-image: url(../img/bg/header.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  .logo {
    padding-top: 30px;
    padding-left: 60px;
    img {
      max-width: 100%;
    }
  }
  .searcher {
    padding-top: 50px;
    .btn-search {
      width: 50px;
      height: 50px;

      text-align: center;

      border-radius: 50%;
      background-color: #fff;
      .fa {
        font-size: 22px;

        color: #646464;
      }
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  .headnav {
    font-size: 18px;
    font-weight: bold;

    padding-top: 68px;

    text-align: right !important;
    li {
      a {
        padding: 0 10px;

        text-decoration: none;

        color: #fff;
      }
    }
  }
}
.home-carousel {
  height: 370px;
  margin-bottom: 25px;
  .owl-controls {
    position: absolute;
    top: 50%;

    width: 100%;
    height: 30px;
    .owl-nav {
      position: relative;

      width: 100%;
      height: 100%;
      .owl-prev,
      .owl-next {
        font-size: 20px;
        font-weight: bold;

        position: absolute;
        top: 0;
        bottom: 0;

        width: 30px;
        height: 30px;
        padding-top: 3px;

        text-align: center;

        opacity: .7;
        color: $blue;
        border-radius: 2px;
        background-color: #fff;
        &:hover {
          opacity: 1;
        }
      }
      .owl-prev {
        left: 60px;
      }
      .owl-next {
        right: 60px;
      }
    }
  }
  .owl-item {
    position: relative;

    height: 370px;
    > div {
      height: 100%;
    }
    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
    h6 {
      font-size: 24px;
      line-height: 26px;

      position: absolute;
      top: 0;
      right: 0;
      left: 50%;

      width: 50%;
      padding-top: 70px;
      padding-right: 50%;

      color: #fff;
    }
    .know-more {
      font-size: 17px;
      font-weight: bold;

      position: absolute;
      top: 70%;
      left: 50%;

      display: block;

      width: 180px;
      height: 40px;
      padding-top: 10px;

      text-align: center;
      text-decoration: none;

      color: #000;
      border-radius: $base-border-radius;
      background-color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.subscribe-block {
  h6 {
    font-size: 22px;

    padding-bottom: 90px;

    text-align: center;

    color: #000;
    background-image: url(../img/bg/subscribe-block.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    span {
      font-size: 14px;
      font-style: italic;

      display: block;
    }
  }
  form {
    position: relative;

    width: 70%;
    height: 50px;
    margin: 0 auto 50px;

    border: 3px solid $green;
    border-radius: 4px;
    input {
      width: 100%;
      height: 100%;

      border-radius: 4px;
    }
    button {
      font-size: 20px;
      font-weight: bold;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: 150px;
      padding-top: 7px;

      color: #fff;
      border-radius: 0 4px 4px 0;
      background-color: $green;
    }
  }
}
.pools-block {
  height: 350px;
  margin-bottom: 50px;
  padding: 30px 50px;

  background-image: url(../img/bg/pools-block.jpg);
  text-shadow: 3px 3px 0 #fff;
  h6 {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 35px;

    text-align: center;

    color: #000;
  }
  .wp-polls-ul {
    margin-bottom: 20px;
    li {
      font-size: 16px;

      margin-bottom: 20px;

      color: #000;
    }
    input[type=radio] {
      position: relative;
    }
  }
  input[name=vote] {
    font-size: 20px;
    font-weight: bold;

    width: 200px;
    height: 40px;
    padding: 0;

    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 4px;
    background-color: $green;
  }
  .wp-polls-ans {
    li {
      strong {
        display: block;

        margin-bottom: 10px;
      }
    }
  }
}
.populars-block {
  .populars-title {
    font-size: 20px;

    margin-bottom: 10px;
    padding-bottom: 5px;
&:after {
height: 2px;
position: absolute;
right: 15px;
left: 15px;
bottom: 0;
@extend .dblock;
background-color: $blue;
}

  }
  .populars-item {
    overflow: hidden;

    height: 150px;
    margin-bottom: 15px;
    a {
      position: relative;

      display: block;

      height: 100%;

      text-decoration: none;

      color: #fff;
      img {
        width: 100%;
        height: 100%;
      }
      h3 {
        font-size: 14px;
        font-weight: bold;

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        margin: 0;
        padding: 7px;

        color: #fff;
        background-color: rgba(3, 65, 112, .5);
        &:hover {
          background-color: rgba(0, 182, 104, .5);
        }
      }
    }
  }
}
section {
  padding: 40px 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}
aside {
  .widget {
    margin: 0 0 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    background-color: #f0f5fa;
    h6 {
      font-size: 20px;
      font-weight: bold;

      margin-right: -30px;
      margin-left: -30px;
      padding: 10px 0;

      text-align: center;

      color: #fff;
      background-color: $blue;
    }
    ul {
      li {
        margin-bottom: 10px;
      }
    }
    &#nav_menu-2 {
      ul {
        li {
          font-size: 18px;

          margin: 0 0 20px;
          a {
            text-decoration: none;

            color: #0a67ac;
          }
        }
      }
    }
    &.widget-transparent {
      background-color: transparent;
    }
  }
}

footer {
  height: $footer;
  margin: $footer_margin auto 0;

  @include linear-gradient(#0a67ab, #01275f);
  .copyright {
    font-size: 12px;
    line-height: 14px;

    padding-top: 75px;
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;

    color: #fff;
    background-image: url(../img/bg/footer-logo.png);
    background-repeat: no-repeat;
    background-position: center 10px;
  }
  .footer-navi {
    padding-top: 20px;
    ul {
      padding-left: 30px;
      li {
        margin: 0 0 12px;
        a {
          font-size: 14px;

          text-decoration: underline;

          color: #fff;
        }
        &:hover {
          a {
            color: #17e88d;
          }
        }
      }
    }
  }
  .footer-subscribe {
    padding-top: 30px;
    padding-left: 30px;
    h6 {
      font-size: 14px;

      margin: 0;

      text-transform: uppercase;

      color: #fff;
      span {
        display: block;

        padding: 10px 0;

        text-transform: none;
      }
    }
    form {
      position: relative;

      width: 80%;
      height: 30px;
      input,
      button {
        height: 30px;

        border-radius: 0;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        width: 100px;
        padding: 0;

        text-align: center;

        color: #fff;
        background-color: $green;
        &:hover {
          background-color: darken($green, 10%);
        }
      }
    }
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';
